@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.katex {
  font-size: 1.2em; /* フォントサイズを調整 */
}

.katex .frac {
  display: inline-block; /* 表示形式を調整 */
  vertical-align: middle; /* 垂直位置を調整 */
  position: relative; /* 位置を相対的にする */
}

.katex .frac > span {
  position: relative; /* 位置を相対的にする */
}
